<table class="order_new" >
  <tr>
    <th><%= form.label :receive_date, "受取日時" %></th>
    <%= form.hidden_field :receive_date %>
    <td><%= @order.receive_date.strftime("%Y/%m/%d - %H:%m") %></td>
  </tr>
  <tr>
    <th><%= form.label :lunchbox_id, "弁当サイズ" %></th>
    <%= form.hidden_field :lunchbox_id %>
    <td><%= @lunchbox.size %></td>
  </tr>
  <tr>
    <th><%= form.label :staple_id, "主食" %></th>
    <td>
      <%= form.button "選択", :name=>"staple"%>
    </td>
  </tr>
  <tr>
    <th><%= form.label :main_id, "主菜" %></th>
    <td><%= form.button "選択", :name=>"main" %></td>
  </tr>
  <tr>
    <th><%= form.label :sub_id, "副菜" %></th>
    <td><%= form.button "選択", :name => "sub" %></td>

  </tr>
  <tr>
    <th>小計</th>
    <td>900kcal｜600円</td>
  </tr>
  <tr>
    <th><%= form.label :num, "個数" %></th>
    <%= form.hidden_field :num %>
    <td><%= @order.num %></td>
  </tr>
  <tr>
    <th>合計</th>
    <td>900kcal｜600円</td>
  </tr>
  
</table>